.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
   header{
       margin-bottom: 60px;
   }
   #slider-video{
    margin-bottom: 50px;
   }

   #services{
    margin-bottom: 50px;
   }
   #team{
    margin-bottom: 50px;
   }
   #portfolio{
    margin-bottom: 50px;
   }
   #contact{
    margin-bottom: 50px;
   }